{% extends("layout/col-9-3.html.twig") %}
{% block title %}Page About{% endblock %}
{% block meta %}
    <meta name="keywords" content="about, page">
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path("home") }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
    <div class="jumbotron">
        <h1>About this site!</h1>
        <p>
            This block will contain some information
        </p>
    </div>
{% endblock %}

{% block sidebar %}
<div class="list-group">
    <a href="{{ path('cabinet-index') }}" class="list-group-item list-group-item-action active">
        Some link 1
    </a>
    <a href="{{ path('cabinet-edit') }}" class="list-group-item list-group-item-action">Some link 2</a>
    <a href="#" class="list-group-item list-group-item-action disabled">Some link 3</a>
</div>
{% endblock %}