{% extends("layout/col-9-3.html.twig") %}
{% block title %}Cabinet{% endblock %}
{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li class="active">Cabinet</li>
    </ul>
{% endblock %}


{% block main %}
    <div class="jumbotron">
        <h1>Hello!</h1>
        <p>
            Hello! {{ name }}.
        </p>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="list-group">
        <a href="{{ path('cabinet-index') }}" class="list-group-item list-group-item-action active">
        Cabinet index
        </a>
        <a href="{{ path('cabinet-edit') }}" class="list-group-item list-group-item-action">Cabinet Edit</a>
        <a href="#" class="list-group-item list-group-item-action disabled">Disabled link</a>
    </div>
{% endblock %}
