{% extends("layout/default.html.twig") %}
{% block title %}Hello{% endblock %}
{% block meta %}
    <meta name="keywords" content="sdflsfkdlkdfl, sdfs, sdf">
{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1>Hello, {{ name|escape }}!</h1>
    <p>
        Congratulations! You have successfully created your application.
    </p>
</div>
{% endblock %}