{% extends("layout/default.html.twig") %}
{% block title %}404 - Not Found{% endblock %}
{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="<?= $this->encode($this->path('home')) ?>">Home</a></li>
        <li class="active">404 Error</li>
    </ul>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>404 ERROR</h1>
    <p>
        {{ request.getUri().getPath() }} isn't found on this site!
    </p>
</div>

{% endblock %}

