{% extends("layout/default.html.twig") %}
{% block title %}500 - Server Error{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{{path('home')}}">Home</a></li>
        <li class="active">500 Error</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>500 Server ERROR</h1>
        <p>
            Something wrong. Sorry!
        </p>
    </div>
{% endblock %}

