<?php

use Framework\Http\Middleware\ErrorHandler\ErrorResponseGenerator\ErrorResponseGeneratorInterface;
use Framework\Http\Middleware\ErrorHandler\ErrorResponseGenerator\WhoopsErrorResponseGenerator;
use Laminas\ConfigAggregator\ConfigAggregator;
use Psr\Container\ContainerInterface;

return [
    'dependencies' => [
        'factories' =>
            [
                ErrorResponseGeneratorInterface::class => function (ContainerInterface $c) {
                        return $c->get(WhoopsErrorResponseGenerator::class);
                },
            ]
    ],
    'debug' => true,
    ConfigAggregator::ENABLE_CACHE => true
];